
:host {
    width: 70;
}
.node {
    background-color: #245819;
    color: #ffffff;
    height: 50;
    width: 50;
    border-radius: 50%;
    text-align: center;
    font-size: 18;
}


.key-node {
    font-weight: 700;
}
