.planner-bar {

}

.node {
    padding: 10;
    margin: 10;
    left: 10;
    top: 10;
}

.label {
    text-transform: uppercase;
    color: gray;
    font-size: 16;
}

.value {
    font-weight: 700;
    font-size: 16;
}

.unit {
    font-weight: 400;
}
