<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent>
        <StackLayout backgroundColor="#213c6b">
            <StackLayout height="56" class="drawer-container">
                <Label text="My Favorite Cities" class="drawer-heading"></Label>
            </StackLayout>
            <ListView id="list-view" [items]="cities" (itemTap)="chooseCity($event)"
                separatorColor="transparent" height="100%" backgroundColor="#4673c1">
                <ng-template let-city="item">
                    <Label [text]="city.name" padding="20" class="drawer-item"></Label>
                </ng-template>
            </ListView>
        </StackLayout>
    </GridLayout>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
