<ActionBar class="action-bar" backgroundColor="#569930" color="white">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Route details" colSpan="2"></Label>
        <Label class="fas" [text]="'mdi-menu' | fonticon" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<ListView [items]="segments$ | async" class="list-group">
  <ng-template let-segment="item" let-i="index" let-odd="odd" let-even="even">
    <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
      <KnotsPlannerRow [segment]="segment"></KnotsPlannerRow>
  </ng-template>
</ListView>

