<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Home" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout height="100%" width="100%">
  <ContentView height="100%" width="100%">
    <Mapbox
      accessToken="{{access_token}}"
      mapStyle="{{style}}"
      zoomLevel="10"
      delay="10"
      showUserLocation="false"
      hideCompass="false"
      hideAttribution="false"
      hideLogo="false"
      disableZoom="false"
      disableRotation="false"
      disableScroll="false"
      disableTilt="false"
      (mapReady)="onMapReady($event)">
    </Mapbox>
  </ContentView>
</StackLayout>
