<!-- <ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Home" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar> -->

<ActionBar #actionBar title="Knots" [backgroundColor]="nodeColor" color="white">
  <NavigationButton
    class="mdi"
    [icon]="'font://' + ('mdi-menu' | fonticon)"
    (tap)="onDrawerButtonTap()"
  ></NavigationButton>





  <ActionItem
    class="mdi"
    [icon]="'font://' + ('mdi-search' | fonticon)"
    ios.position="right"
    (tap)="search()"
  ></ActionItem>


  <ActionItem
    class="mdi"
    [icon]="'font://' + ('mdi-list' | fonticon)"
    ios.position="right"
    (tap)="openDetails()"
  ></ActionItem>

  <ActionItem
    #saveButton
    class="mdi"
    [icon]="'font://' + ('mdi-save' | fonticon)"
    ios.position="right"
    (tap)="save()"
  >lala</ActionItem>

  <ActionItem
    #undoButton
    class="mdi"
    [icon]="'font://' + ('mdi-undo' | fonticon)"
    ios.position="right"
    (tap)="undoLastDestination()"
  ></ActionItem>

  <ActionItem
    #deleteButton
    [icon]="'font://' + ('mdi-delete' | fonticon)"
    class="mdi"
    ios.position="right"
    (tap)="deletePath()"
  ></ActionItem>
</ActionBar>

<DockLayout [stretchLastChild]="true">
  <KnotsPlannerBar backgroundColor="#e4fcd7"
    dock="top"
    width="100%"
    height="100"
  ></KnotsPlannerBar>
  <ContentView>
    <Mapbox
      [enableLocationRequest]="false"
      [showUserLocation]="true"
      [hideCompass]="false"
      [hideAttribution]="false"
      [hideLogo]="true"
      [disableZoom]="false"
      [disableRotation]="false"
      [disableScroll]="false"
      [disableTilt]="false"
      (mapReady)="onMapReady($event)"
      (moveEnd)="onCameraChanged($event)"
    ></Mapbox>
  </ContentView>
</DockLayout>

